.menubar {
  color: #00439c;
  font-weight: 600;
  padding: 0;
  height: 56px;
}

.inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .inner-group {
    width: 1090px !important;
    justify-content: space-between;
  }
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: $cobaltBlue;
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }
}

.linkLabel {
  margin-right: 5px;
}

.downIcon {
  color: $cobaltBlue;
}
