.info-ctn {
  background-color: $munsellBlue;
  border-radius: 10px;
  padding: 2rem 0;
  margin-block-end: 1rem;
  color: $white;
}
.mantine-1jmwwfr[data-active] {
  background-color: $brightGray;
  color: $munsellBlue;
  border-left: solid 2px $munsellBlue;
}
.icon-tab {
  margin-right: 10px;
}
.menu-ctn {
  background-color: $white;
  border-radius: 10px;
}
.sub-tab {
  padding: 1rem;
}
.logout-tab {
  padding: 1rem 2rem !important;
}
.logout-tab:hover {
  background-color: #f8f9fa;
  border-radius: 10px;
  cursor: pointer;
}
