$font-family-base: "Be Vietnam Pro", sans-serif;

$font-size-small: 12px;
$font-size-base: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;

$flashWhite: #f0f0f0;
$white: #fff;
$black: #000;
$brightGray: #ebf2f2;
$munsellBlue: #0093af;
$cobaltBlue: #00439c;
$gray700: #4a4f63;
$yellow: rgb(250, 176, 5);
